<div class = "container mt-5">
  <div class = "row">
    <div class = "col-8 mx-auto">
      <h1 class = "title mb-5">あたらしく<ruby>登録<rt>とうろく</rt></ruby></h1>
      <div class = "bg-offwhite p-4">
        <%= render "layouts/errors", obj: @child %>
        <%= form_with model: @child do |f| %>
        <div class="form-group">
          <%= f.label :name, "なまえ" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :birth_at, "おたんじょうび" %>
          <%= f.date_field :birth_at, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :favorite_food, "すきなたべもの" %>
          <%= f.text_field :favorite_food, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :future_dream, "しょうらいのゆめ" %>
          <%= f.text_field :future_dream, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "ひとこと" %>
          <%= f.text_area :introduction, class: "form-control"%>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <%= f.label :profile_image,  "しゃしんをとうろく", class: "col-form-label", for: "child_profile_image" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
              <%= f.file_field :profile_image, class: "form-control-file",accept: "image/jpeg,image/jpg,image/png", id: "child_profile_image" %>
              <div id="new-image"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "とうろく", class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
      <div class = "my-3">
        <%= link_to user_path(current_user), class: "btn btn-info" do %>
        <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <%= image_tag "star2.png", class: "img-fluid bg-bottom" %>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const createImageHTML = (blob) => {
      const imageElement = document.getElementById('new-image');
      const blobImage = document.createElement('img');
      blobImage.setAttribute('class', 'new-image');
      blobImage.setAttribute('src', blob);
      imageElement.appendChild(blobImage);
    };

    const childProfileImageElement = document.getElementById('child_profile_image');
    if (childProfileImageElement) {
      childProfileImageElement.addEventListener('change', (e) => {
        const imageContent = document.querySelector('.new-image');
        if (imageContent) {
          imageContent.remove();
        }
        const file = e.target.files[0];
        const blob = window.URL.createObjectURL(file);
        createImageHTML(blob);
      });
    }
  });
</script>