<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto", style = "padding: 15px; margin-bottom: 10px; background-color: #FFF7D8;">
      <h1 class="mb-4 p-3 title" style = "border-bottom: 4px dashed;"><strong><%= @child.name %></strong></h1>
        <div class = "text-center">
          <%= image_tag @child.get_profile_image(300,300) %>
        </div>
      <table class="table table-border">
        <tbody>
          <tr>
            <th>おなまえ</th>
            <td><%=  @child.name %></td>
          </tr>
          <tr>
            <th>お誕生日</th>
            <td><%=  @child.birth_at.strftime("%Y年 %m月 %d日") %></td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><%=  @child.age %>さい</td>
          </tr>
          <tr>
            <th>ひとこと</th>
            <td><%=  @child.introduction %></td>
          </tr>
          <tr>
            <th>ポイント数</th>
            <td><%=  @child.point %> ポイント</td>
          </tr>
          <tr>
            <th>おてつだいクリア数</th>
            <td>回</td>
          </tr>
          <tr>
            <th>レベル</th>
            <td></td>
          </tr>
          <tr>
            <th>すきなたべもの</th>
            <td>回</td>
          </tr>
          <tr>
            <th>しょうらいのゆめ</th>
            <td>回</td>
          </tr>
        </tbody>
      </table>
      <%= link_to user_path(@child.user), class: "btn btn-info" do %>
        <i class="fa-solid fa-caret-left"></i> もどる
      <% end %>
      <%= link_to edit_child_path(@child), class: "btn btn-success" do %>
        <i class="fa-solid fa-pen-to-square"></i> 編集する
      <% end %>
    </div>
  </div>
</div>