<% if task.status == "preparing" %>
  <%= link_to "スタート", status_change_path(task, start: "true"), class: 'custom-button', method: :get, remote: true %>
  <div>
    <%= image_tag "status.png", :size => "500x550", class: "img-fluid bg-bottom-leftmid" %>
  </div>
<% elsif task.status == "in_progress" %>
  <%= link_to "できた！", status_change_path(task), class: 'custom-button', method: :get, remote: true %>
  <div>
    <%= image_tag "status1.png", :size => "500x550", class: "img-fluid bg-bottom-leftmid" %>
  </div>
<% elsif task.status == "reported_complete" %>
  <%= link_to "OK", status_change_path(task, check: "OK"), class: 'custom-button mr-5', method: :get, remote: true %>
  <%= link_to "もう一回 !", status_change_path(task), class: 'custom-button', method: :get, remote: true %>
  <div>
    <%= image_tag "status2.png", :size => "500x550", class: "img-fluid bg-bottom-leftmid" %>
  </div>
<% elsif task.status == "again" %>
  <%= link_to "できた！", status_change_path(task), class: 'custom-button', method: :get, remote: true %>
  <div>
    <%= image_tag "status3.png", :size => "500x550", class: "img-fluid bg-bottom-leftmid" %>
  </div>
<% elsif task.status == "completed"%>
  <%= link_to "クリア！！", thanks_path(task), method: :post, class: 'custom-button' %>
  <div>
    <%= image_tag "status4.png", :size => "500x550", class: "img-fluid bg-bottom-leftmid" %>
  </div>
<% end %>
