<% if task.status == "preparing" %>
  <%= link_to "スタート", status_change_path(task, start: "true"), { class: 'custom-button', method: :get, remote: true } %>
  <div>
    <%= image_tag "status.png", class: "alien" %>
  </div>
<% elsif task.status == "in_progress" %>
  <%= link_to "できた！", status_change_path(task), { class: 'custom-button', method: :get, remote: true } %>
  <div>
    <%= image_tag "status1.png", class: "alien" %>
  </div>
<% elsif task.status == "reported_complete" %>
  <%= link_to "OK", status_change_path(task, check: "OK"), { class: 'custom-button mr-2', method: :get, remote: true } %>
  <%= link_to "もう一回 !", status_change_path(task), { class: 'custom-button', method: :get, remote: true } %>
  <div>
    <%= image_tag "status2.png", class: "alien" %>
  </div>
<% elsif task.status == "again" %>
  <%= link_to "できた！", status_change_path(task), { class: 'custom-button', method: :get, remote: true } %>
  <div>
    <%= image_tag "status3.png", class: "alien" %>
  </div>
<% elsif task.status == "completed" %>
  <%= link_to "クリア！！", thanks_path(task), { method: :post, class: 'custom-button' } %>
  <div>
    <%= image_tag "status4.png", class: "alien" %>
  </div>
<% end %>

<%= audio_tag("game_btn.mp3", autoplay: false, id: "btn_audio", class: "d-none") %>

<script>
$(".custom-button").on('click', function () { // .custom-buttonがクリックされたら
  if (!$("#mute").prop("checked")) { // #muteの値を反転させて判定
    document.getElementById('btn_audio').currentTime = 0; // 再生開始位置を0sから
    document.getElementById('btn_audio').play(); // 再生する
  }
})
</script>