<div class="container mt-5">
  <div class="col-10 mx-auto">
    <h2 class="mb-4 contents-title text-center" style="font-weight:bold; color:#FF9900; font-size:45px;"><strong>クエストメニュー</strong></h2>
      <div class="row">
        <% @tasks.each do |task| %>
          <div class="col-12 col-md-6 col-lg-4">
            <%= link_to task_path(task), :style => "text-decoration: none; font-weight:bold; color:#000000;　text-align:center" do %>
              <div class="card mb-4 shadow-lg">
                <%= image_tag reward.get_gift_image(200,200) %>
                  <div class="card-body">
                    <p class="text-center"><%= task.name %><p>
                    <p class="text-center"><%= task.point %> ポイント</p>
                  </div>
               </div>
            <% end %>
          </div>
        <% end %>
    </div>
    <div>
      <%= link_to new_task_path, class: "btn btn-warning" do %>
        <i class="fa-solid fa-pen-to-square"></i> 作成する
      <% end %>
    </div>
  </div> 
</div>
