<div class="container mt-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1 class="title mb-5">クエストを投稿</h1>
        <div class="p-3 bg-offwhite">
          <%= render "layouts/errors", obj: @task %>
          <%= form_with model: @task do |f| %>
          <div class="form-group">
            <%= f.label :name, "お手伝い" %>
            <%= f.collection_select :task_list_id, current_user.task_lists.all, :id, :name, include_blank: "選択して下さい" %>
          </div>
          <div>
            <%= f.label :num_people, "必要人数" %>
            <%= f.select :num_people, options_for_select((1..current_user.children.count).map { |num| ["#{num}人", num] }), { include_blank: "人数を選択して下さい" } %>
          </div>
          <div class="form-group">
            <%= f.label :point, "獲得ポイント数" %>
            <%= f.number_field :point, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "メッセージ" %>
            <%= f.text_area :description, class: "form-control"%>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-12">
                <%= f.label :quest_image, "写真を登録", class: "col-form-label text-center", for: "task_quest_image" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-sm-6">
                <%= f.file_field :quest_image, class: "form-control-file", accept: "image/*", id: "task_quest_image" %>
                <div id="new-image"></div>
                <div id="tag-display">
                  <%= @tags.inspect %>
                  <% if @tags.present? %>
                    <p>タグ: <%= @tags.join(', ') %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit "追加する", class: "btn btn-success" %>
          </div>
          <% end %>
        </div>
        <div class="mt-5">
          <%= link_to menu_path, class: "btn btn-info btn-style" do %>
            <i class="fa-solid fa-caret-left"></i> もどる
          <% end %>
        </div>
      </div>
    </div>
  </div>
<div>
  <%= image_tag "star2.png", class: "img-fluid bg-bottom" %>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const createImageHTML = (blob) => {
      const imageElement = document.getElementById('new-image');
      const blobImage = document.createElement('img');
      blobImage.setAttribute('class', 'new-img')
      blobImage.setAttribute('src', blob);
      imageElement.appendChild(blobImage);
      document.getElementById('tag-display').style.display = 'block';
    };

    document.getElementById('task_quest_image').addEventListener('change', (e) => {
      const imageContent = document.querySelector('.new-img');
      if (imageContent){
        imageContent.remove();
      }
      const file = e.target.files[0];
      const blob = window.URL.createObjectURL(file);
      createImageHTML(blob);
    });
  });
</script>