<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="background-color: #FFF7D8;">
      <h1 class="mb-4 title"><strong><%= @task.task_list.name %></strong></h1>
      <div class = "text-center">
        <%= image_tag @task.get_quest_image(200,200) %>
      </div>
      <table class="table table-border text-center" style="font-size: 20px;">
        <tbody>
          <tr style="font-size: 25px;">
            <th style="color: #000000;">獲得ポイント数</th>
            <th style="color: #47cc81;"><%= @task.point %> ポイント</th>
          </tr>
          <tr>
            <th>メッセージ</th>
            <td><%= @task.description %></td>
          </tr>
          <tr>
            <th>開始日時</th>
            <% if @task.start_at.present? %>
              <td><%= @task.start_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
            <% else %>
              <td>開始時間未設定</td>
            <% end %>
          </tr>
          <tr>
            <th>終了日時</th>
            <% if @task.end_at.present? %>
              <td><%= @task.end_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
            <% else %>
              <td>終了時間未設定</td>
            <% end %>
          </tr>
          <tr>
            <th>参加メンバー<br>人数: <%= @task.num_people %>人</th>
            <td>
              <%= form_with model: @task, url: task_child_task_path(@task), method: :patch do |f| %>
                <% @children.each do |child| %>
                  <label>
                    <%# checkedは、child_tasksのchild_idの配列に今ループしているchild.idがあるかチェックして true / false を返す (include?) %>
                    <%= f.check_box :child_tasks, {multiple: true, checked: @task.child_tasks.pluck(:child_id).include?(child.id)}, child.id %>
                    <%= child.name %>
                  </label><br>
                <% end %>
                <%= f.submit "登録する", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><%= I18n.t("enums.task.status.#{@task.status}") %></td>
          </tr>
        </tbody>
      </table>
      <div class = "mb-3">
        <%= link_to tasks_path, class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
        <%= link_to status_change_path(@task), class: "btn btn-danger" do %>
          <i class="fa-solid fa-flag-checkered"></i> はじめる
        <% end %>
      </div>
    </div>
  </div>
</div>
