<div class = "text-center">
  <%= image_tag "star4.png", class: "img-fluid" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto bg-offwhite py-3">
      <div class = "col-10 mx-auto m-4">
        <h2 class="p-3 subtitle border border-radius rounded-pill bg-orange text-white"><b><%= @task.task_list.name %></b></h2>
      </div>
      <div>
        <%= image_tag @task.get_quest_image(200,200) %>
      </div>
      <div class="row">
        <div class="col-12 mx-auto mt-3">
          <h3 class="text-danger"><b><%= @task.point %> ポイント</b></h3>
        </div>
      </div>
      <div class="col-8 mx-auto">
        <div class="row mt-3 border-bottom">
          <div class="col-md-6">
            <h5><b>ステータス</b></h5>
          </div>
          <div class="col-md-6">
            <h5><b><%= I18n.t("enums.task.status.#{@task.status}") %></b></h5>
          </div>
        </div>
        <div class="row mt-3 border-bottom">
          <div class="col-md-6">
            <h5><b>メッセージ</b></h5>
          </div>
          <div class="col-md-6">
            <h5><b><%= @task.description %></b></h5>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <h5><b><ruby>参加<rt>さんか</rt></ruby>メンバー<br></b></h5><br>
            <p>（<%= @task.num_people %>人まで）</p>
          </div>
          <div class="col-md-6">
            <%= form_with model: @task, url: task_child_task_path(@task), method: :patch do |f| %>
              <% @children.each do |child| %>
                <label>
                  <%# checkedは、child_tasksのchild_idの配列に今ループしているchild.idがあるかチェックして true / false を返す (include?) %>
                  <%= f.check_box :child_tasks, {multiple: true, checked: @task.child_tasks.pluck(:child_id).include?(child.id)}, child.id %>
                  <%= child.name %>
                </label><br>
              <% end %>
              <% unless @task.status == "completed" %>
                <%= f.submit "えらぶ", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "my-3">
    <%= link_to :back, class: "btn btn-info" do %>
      <i class="fa-solid fa-caret-left"></i> もどる
    <% end %>
    <% unless @task.status == "completed" %>
      <%= link_to status_change_path(@task), class: "btn btn-danger" do %>
        <i class="fa-solid fa-flag-checkered"></i> はじめる
      <% end %>
    <% end %>
  </div>
</div>
