<div class = "text-center">
  <%= image_tag "star4.png", class: "img-fluid" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto bg-offwhite">
      <div class = "col-5 mx-auto m-4">
        <h2 class="p-3 title border border-radius rounded-pill bg-orange text-white"><strong><%= @task.task_list.name %></strong></h2>
      </div>
      <div>
        <%= image_tag @task.get_quest_image(200,200) %>
      </div>
      <table class="table table-border text-center" style="font-size: 20px;">
        <tbody>
          <tr style="font-size: 25px;">
            <th><ruby>獲得<rt>かくとく</rt></ruby>ポイント</th>
            <th class="text-red"><%= @task.point %> ポイント</th>
          </tr>
          <tr>
            <th>メッセージ</th>
            <td><%= @task.description %></td>
          </tr>
          <tr>
            <th><ruby>参加<rt>さんか</rt></ruby>メンバー<br>
            <ruby>(必要人数<rt>ひつようにんずう</rt></ruby>: <%= @task.num_people %>人)</th>
            <td>
              <%= form_with model: @task, url: task_child_task_path(@task), method: :patch do |f| %>
                <% @children.each do |child| %>
                  <label>
                    <%# checkedは、child_tasksのchild_idの配列に今ループしているchild.idがあるかチェックして true / false を返す (include?) %>
                    <%= f.check_box :child_tasks, {multiple: true, checked: @task.child_tasks.pluck(:child_id).include?(child.id)}, child.id %>
                    <%= child.name %>
                  </label><br>
                <% end %>
                <% unless @task.status == "completed" %>
                  <%= f.submit "えらぶ", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><%= I18n.t("enums.task.status.#{@task.status}") %></td>
          </tr>
        </tbody>
      </table>
      <div class = "mb-3">
        <%= link_to :back, class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
        <% unless @task.status == "completed" %>
          <%= link_to status_change_path(@task), class: "btn btn-danger" do %>
            <i class="fa-solid fa-flag-checkered"></i> はじめる
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
