<div class="game-page">
  <div id="splash">
    <div id="splash-logo">
      <h2>loading...</h2>
      <%= image_tag "ufo.png", class: "img-fluid ufo-img" %>
    </div>
  </div>
  <div class="splashbg1"></div>
  <div class="splashbg2"></div>

  <div class = "bg-top-game">
    <%= image_tag "star4.png", class: "img-fluid" %>
  </div>
  <div id="container">
    <div class="row">
      <div class="col-10 mx-auto status_area">
        <div class="m-5 col-3 mx-auto">
          <div class="status_box p-2">
            <h2 id = "quest-status", class="text-white">
              <%= render 'status', task: @task %>
            </h2>
          </div>
        </div>
        <div id = "quest-btn", class="mt-3">
          <%= render 'btn', task: @task %>
        </div>
      </div>
    </div>
  </div>
  <div class="astronaut-container">
    <div class="astronaut-image text-right">
      <%= image_tag "astronaut.png", :size =>'300x300', class: "img-fluid" %>
    </div>
  </div>
  <div class="bg-bottom-game">
      <%= image_tag "ground.png", class: "img-fluid" %>
  </div>
  <div class="bg-bottom-right">
    <input type="checkbox" id="mute" name="mute" checked/>
    <label for="mute"><i class="fa-solid fa-volume-xmark"></i>音を消す</label>
  </div>
</div>


<%= audio_tag("game_music.mp3", loop: true, id: "music", class: "d-none") %>

<script>
  $(document).ready(function () {
    // #muteの状態が変更されたときに音楽を再生・停止
    $("#mute").on('change', function () {
      playMusic();
    });
  });

  function playMusic() {
    var audio = document.getElementById('music');

    // #muteの状態に応じて音楽の再生・停止を切り替え
    if ($("#mute").prop("checked")) {
      audio.pause(); // 停止
    } else {
      audio.volume = 0.3; // 音量を 0.5 に設定（必要に応じて調整）
      audio.currentTime = 0; // 再生開始位置を0秒に設定
      audio.play(); // 再生
    }
  }
</script>