<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class= "title">おめでとう !!</h1>
       <div class="m-5 pt-3 col-9 mx-auto" style="background-color: #FFF7D8;">
          <div class = "m-3 p-4" style="background-color: #ffff99;" >
            <h1 class = "text-center", style = "color:#ff3333;"><strong><%= @task.point %> ポイントゲット</strong></h1>
          </div>
          <div class="point-area mt-4">
            <h2 class = "text-center">持っているポイント</h2>
            <table class = "table mt-4"  style = "font-size: 20px;">
              <% @children.each do |child| %>
              <tr>
                <th><%= child.name %></th>
                <th><%= child.point %></th>
                <th> >> </th>
                  <% new_point = child.point + @task.point %>
                  <% child.update(point: new_point) %>
                <th><%= new_point %></th>
              </tr>
              <% end %>
            </table>
            <div class = "mt-4">
              <%= link_to about_path,class: "btn btn-info" do %>
                <i class="fa-solid fa-caret-left"></i> もどる
              <% end %>
              <%= link_to user_path(current_user),class: "btn btn-success" do %>
                <i class="fa-solid fa-user"></i> マイページへ
              <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
<div>
  <%= image_tag "thanks.png", :size => "1200x400" %>
</div>
