<div class="container mt-3">
  <div class="row">
    <div class="col-10 mx-auto ">
      <div class="neon-box1 text-white">
        <h2 class= "m-2">おめでとう !!</h2>
        <h2 class = "text-center m-0"><b><%= @task.point %> ポイント<br class="sp_br">ゲット</b></h2>
      </div>
      <div class=" row point-area my-5">
        <% @children.each do |child| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="neon-box2 mb-3">
            <% level = child.level(child.month_clear) %>
            <p><%= I18n.t("enums.child.level.#{level}") %> のおてつだいヒーロー</p>
            <span><%= image_tag child.get_profile_image(100, 100) %></span>
            <p><%= child.name %></p>
            <p>
              <b><%= child.point %> ポイント</b> >> 
              <% if request.post? %>
                <% new_point = child.point + @task.point %>
                <% child.update(point: new_point) %>
              <% end %>
              <%= request.post? ? new_point : child.point %> ポイント
            </p>
            <p>今月クリア回数　<%= child.month_clear %>回</p>
          </div>
        </div>
        <% end %>
                    
          <!--<div class="row mt-3">-->
          <!--  <div class="col-md-3">-->
          <!--    <h5><b><%#= child.name %></b></h5>-->
          <!--  </div>-->
          <!--  <div class="col-md-3">-->
          <!--    <h5><b><%#= child.point %></b></h5>-->
          <!--  </div>-->
          <!--  <div class="col-md-3">-->
          <!--    <h5><b> >> </b></h5>-->
          <!--  </div>-->
          <!--  <div class="col-md-3">-->
          <!--    <%# if request.post? %>-->
          <!--      <%# new_point = child.point + @task.point %>-->
          <!--      <%# child.update(point: new_point) %>-->
          <!--    <%# end %>-->
          <!--    <h5><%#= request.post? ? new_point : child.point %></h5>-->
          <!--  </div>-->
          <!--</div>-->
        <%# end %>
      </div>
      <div class="col-9 mx-auto my-3">
        <%= link_to about_path,class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
        <%= link_to user_path(current_user),class: "btn btn-success" do %>
          <i class="fa-solid fa-user"></i> マイページ
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <%= image_tag "thanks.png", class: "img-fluid bg-bottom" %>
</div>


<script>

var duration = 5 * 1000;

var animationEnd = Date.now() + duration;

var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };



function randomInRange(min, max) {

return Math.random() * (max - min) + min;

}



var interval = setInterval(function() {

var timeLeft = animationEnd - Date.now();



if (timeLeft <= 0) {

return clearInterval(interval);

}



var particleCount = 50 * (timeLeft / duration);

// since particles fall down, start a bit higher than random

confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });

confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });

}, 250);

</script>