<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="mb-4 title"><strong>プレゼント一覧</strong></h1>
      <div class="table-responsive-lg">
        <table class ="table table-borderd bg-offwhite">
          <tr class = "bg-orange">
            <th></th>
            <th>なまえ</th>
            <th>必要ポイント数</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <% @rewards.each do |reward| %>
            <td>
              <%= image_tag reward.get_gift_image(100,100) %>
            </td>
            <td>
              <%= reward.name %>
            </td>
            <td>
              <%= reward.point %> ポイント
            </td>
            <td>
              <%= link_to edit_reward_path(reward), class: "btn btn-warning" do %>
                <i class="fa-solid fa-pen-to-square"></i> 編集
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="pagination">
          <%= paginate @rewards %>
      </div>
      <div>
        <%= link_to menu_path, class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
      </div>
    </div>
  </div>
</div>
