<div class = "container mt-5">
  <div class = "row">
    <div class = "col-8 mx-auto">
      <h1 class="title mb-5"><%= @reward.name %> を変更する</h1>
      <div class="p-3 bg-offwhite">
        <%= render "layouts/errors", obj: @reward %>
        <%= form_with model: @reward do |f| %>
          <div class="form-group">
            <%= f.label :name, "なまえ" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :point, "必要ポイント数" %>
            <%= f.number_field :point, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "ひとこと" %>
            <%= f.text_area :description, class: "form-control"%>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-12">
                <%= f.label :gift_image, "写真を登録", class: "col-form-label", for: "reward_gift_image" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-sm-6">
                <%= f.file_field :gift_image, class: "form-control-file", accept: "image/jpeg,image/jpg,image/png", id: "reward_gift_image" %>
                <div id="edit-image"></div>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <%= f.radio_button :published, true %>
            <%= f.label :published, "公開" %>
            <%= f.radio_button :published, false %>
            <%= f.label :published, "準備中" %>
          </div>
          <div class="form-group">
            <%= f.submit "更新する", class: "btn btn-success btn-style" %>
          </div>
        <% end %>
      </div>
      <div class="mt-3">
        <%= link_to rewards_admin_index_path, class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <%= image_tag "star2.png", class: "img-fluid bg-bottom" %>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const createImageHTML = (blob) => {
      const imageElement = document.getElementById('edit-image');
      const blobImage = document.createElement('img');
      blobImage.setAttribute('class', 'edit-image');
      blobImage.setAttribute('src', blob);
      imageElement.appendChild(blobImage);
    };

    const rewardGiftImageElement = document.getElementById('reward_gift_image');
    if (rewardGiftImageElement) {
      rewardGiftImageElement.addEventListener('change', (e) => {
        const imageContent = document.querySelector('.edit-image');
        if (imageContent) {
          imageContent.remove();
        }
        const file = e.target.files[0];
        const blob = window.URL.createObjectURL(file);
        createImageHTML(blob);
      });
    }
  });
</script>