<div class = "text-center">
  <%= image_tag "star6.png", class: "img-fluid" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class= "title"><ruby>交換<rt>こうかん</rt></ruby>する</h1>
     <div class="brown-box">
        <div class="side_image m-3">
          <%= image_tag @reward.get_gift_image(200,200) %>
        </div>
        <div class="side_text">
          <h1 class="mb-4"><%=  @reward.name %></h1>
          <table class="table table-borderless">
            <tr class="border-blackdot">
              <th>ポイント数</th>
              <td><%=  @reward.point %> ポイント</td>
            </tr>
            <tr class="border-blackdot">
              <th>メッセージ</th>
              <td><%=  @reward.description %></td>
            </tr>
          </table>
            <%= link_to exchange_path, class: "btn btn-danger" do %>
              <i class="fa-solid fa-store"></i> <ruby>交換<rt>こうかん</rt></ruby>する
            <% end %>
        </div>
      </div>
      <div class = "m-1 p-1 text-center text-white">
        <h2 class = "mb-3"><ruby>交換<rt>こうかん</rt></ruby>する人を<ruby>選<rt>えら</rt></ruby>んでね</h2>
        <%= form_with model: @reward, url: exchange_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.label :name, "なまえ" %>
            <%= f.collection_select :child_id, @children, :id, :name, include_blank: "なまえをえらんでね" %>
          </div>
          <div class="form-group">
            <%= f.submit "決定", class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
      <% if @child.present? %>
      <div id = "exchange_point", class = "mb-3 text-center">
        <%= render "child_point", {child: @child, reward: @reward} %>
      </div>
      <% end %>
      <%= link_to rewards_path, class: "btn btn-info" do %>
        <i class="fa-solid fa-caret-left"></i> もどる
      <% end %>
    </div>
  </div>
</div>
