<div class = "text-center">
  <%= image_tag "star6.png", class: "img-fluid" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1 class= "title"><ruby>交換<rt>こうかん</rt></ruby>する</h1>
      <div class="brown-box">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag @reward.get_gift_image(250,250) %>
          </div>
          <div class="col-md-6">
            <h2 class="text-danger my-3"><b><%=  @reward.name %></b></h2>
            <div class="row mt-3 border-bottom">
              <div class="col-md-6">
                <h4>ポイント</h4>
              </div>
              <div class="col-md-6">
                <h4><%=  @reward.point %> ポイント</h4>
              </div>
            </div>
            <div class="row mt-3 border-bottom">
              <div class="col-md-6">
                <h4>メッセージ</h4>
              </div>
              <div class="col-md-6">
                <h4><%=  @reward.description %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "m-1 p-1 text-center text-white">
        <h2 class = "mb-3"><ruby>交換<rt>こうかん</rt></ruby>する人を<ruby>選<rt>えら</rt></ruby>んでね</h2>
        <%= form_with model: @reward, url: exchange_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.label :child_id, "なまえ" %>
            <%= f.collection_select :child_id, @children, :id, :name, include_blank: "なまえをえらんでね" %>
          </div>
          <div class="form-group">
            <%= f.submit "決定", class: "btn btn-warning", data: { toggle: "modal", target: "#pointModal" } %>
          </div>
        <% end %>
      </div>
      <%= @child.inspect %>
      
      <!--モーダル-->
      <div class="modal fade" id="pointModal" tabindex="-1" aria-labelledby="pointModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="pointModalLabel"><%= @child.name %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>いまのポイント : <b><span class="text-green"><%= @child.point %></span> ポイント</b></h4>
              <% if @child.point.to_i >= @reward.point.to_i %>
                <h4><ruby>交換<rt>こうかん</rt></ruby>すると <b><span class="text-green"><%= @child.point - @reward.point %></span>ポイント</b> になるよ</h4>
                <div class = "m-3">
                  <p>ほんとうに<ruby>交換<rt>こうかん</rt></ruby>する？</p>
                  <%= link_to complete_path(@reward, child_id: @child.id), method: :post, class: "btn btn-danger p-2" do %>
                    <ruby>交換<rt>こうかん</rt>する</ruby>
                  <% end %>
                </div>
              <% else %>
                <h4 class="text-red"><b>ポイントがたりないよ</b></h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      
      <%#= render "child_point", {child: @child, reward: @reward} %>
      <!--<%# if @child.present? %>-->
      <!--<div class = "mb-3 text-center">-->
      <!--  <%#= render "child_point", {child: @child, reward: @reward} %>-->
      <!--</div>-->
      <!--<%# end %>-->
      <div class="my-3">
        <%= link_to rewards_path, class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
      </div>
    </div>
  </div>
</div>