<div class = "text-center">
  <%= image_tag "star4.png", class: "img-fluid" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="mb-4 title"><strong><%= @reward.name %></strong></h1>
      <table class="table table-bordered table-condensed bg-offwhite">
        <tbody>
          <%= image_tag @reward.get_gift_image(200,200) %>
          <tr>
            <th class = "bg-orange" style= "width: 20%;">なまえ</th>
            <td><%=  @reward.name %></td>
          </tr>
          <tr>
            <th class = "bg-orange">ポイント数</th>
            <td><%=  @reward.point %> ポイント</td>
          </tr>
          <tr>
            <th class = "bg-orange">メッセージ</th>
            <td><%=  @reward.description %></td>
          </tr>
          <tr>
            <th class = "bg-orange">交換</th>
            <% if @reward.published == true %>
              <td>公開中</td>
            <% else %>
              <td>準備中</td>
            <% end %>
          </tr>
        </tbody>
      </table>
        <%= link_to rewards_path, class: "btn btn-info" do %>
          <i class="fa-solid fa-caret-left"></i> もどる
        <% end %>
         <%= link_to exchange_path, class: "btn btn-danger" do %>
          <i class="fa-solid fa-store"></i> 交換する
        <% end %>
    </div>
  </div>
</div>