<div class="container pt-5">
  <div class = "row col-11 mx-auto">
    <div class = "col-md-4">
      <h1 class = "mb-3 title"><strong>マイページ</strong></h1>
        <div class = "text-center">
          <%= image_tag @user.get_profile_image(150,150) %>
        </div>
        <table class = "table table-borderd mb-4", style = "color:#ffffff;">
          <tr>
            <th style = "width: 35%;">なまえ</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @user.introduction %></th>
          </tr>
        </table>
          <%= link_to edit_user_path(@user), class: "btn btn-warning btn-block" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
    </div>
    <div class = "col-md-7 offset-md-1">
      <h1 class = "mb-3 title"><strong>パーティーメンバー</strong></h1>
        <%= render 'children/index', children: @children %>
    </div>
  </div>
</div>
<div class = "text-center">
  <%= image_tag "star1.png", :size => "1650x280", class: "img-fluid bg-bottom" %>
</div>