<div id="navArea">
  <nav>
    <div class="inner">
      <ul>
        <li>
          <%= link_to root_path do %>
            <%= image_tag "logo.png", :size => "120x120" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to about_path do %>
            <i class="fa-solid fa-book-open"></i> メニュー
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user) do %>
            <i class="fa-solid fa-user"></i> マイページ
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i> ログアウト
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to menu_path do %>
            <i class="fa-solid fa-gear"></i> おうちの方はこちら
            <% notifications_count = current_user.notifications.where(read: false).count %>
            <% if notifications_count > 0 %>
              <span class="badge badge-danger"><%= notifications_count %></span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="toggle_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="mask"></div>
</div>


<script>
 $(document).ready(function () {
    var body   = $('body');
    var btn   = $('.toggle_btn');
    var mask  = $('#mask');
    var open   = 'open'; // class
    if (btn.length > 0) {
      // menu open close
      btn.on( 'click', function() {
       if ( ! body.hasClass( open ) ) {
          body.addClass( open );
        } else {
          body.removeClass( open );
        }
      });
      // mask close
      mask.on('click', function() {
        body.removeClass( open );
      });
    }
  })
</script>